@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    background-color: white;
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container-form h2{
    color: rgb(13, 83, 163);
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form img{
    height: 480px;
}
.redes{ 
    display: flex;
    width: 100%;
    padding: 70px;
}

.redes a img{
    height: 60px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: rgb(7, 78, 160);
    margin-right: 10px;
}
